In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./dataset/resumo_anual_2019.csv', delimiter=";", encoding='latin-1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37968 entries, 0 to 37967
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EMPRESA (SIGLA)                    37968 non-null  object
 1   EMPRESA (NOME)                     37968 non-null  object
 2   EMPRESA (NACIONALIDADE)            37968 non-null  object
 3   ANO                                37968 non-null  int64
 4   MÊS                                37968 non-null  int64
 5   AEROPORTO DE ORIGEM (SIGLA)        37959 non-null  object
 6   AEROPORTO DE ORIGEM (NOME)         37959 non-null  object
 7   AEROPORTO DE ORIGEM (UF)           31061 non-null  object
 8   AEROPORTO DE ORIGEM (REGIÃO)       31064 non-null  object
 9   AEROPORTO DE ORIGEM (PAÍS)         37959 non-null  object
 10  AEROPORTO DE ORIGEM (CONTINENTE)   37959 non-null  object
 11  AEROPORTO DE DESTINO (SIGLA)       37968 non-null  object
 12  AEROPORTO DE DESTINO (NOME)        37968 non-null  object
 13  AEROPORTO DE DESTINO (UF)          30598 non-null  object
 14  AEROPORTO DE DESTINO (REGIÃO)      30600 non-null  object
 15  AEROPORTO DE DESTINO (PAÍS)        37968 non-null  object
 16  AEROPORTO DE DESTINO (CONTINENTE)  37968 non-null  object
 17  NATUREZA                           37968 non-null  object
 18  GRUPO DE VOO                       37968 non-null  object
 19  PASSAGEIROS PAGOS                  37906 non-null  float64
 20  PASSAGEIROS GRÁTIS                 37906 non-null  float64
 21  CARGA PAGA (KG)                    37906 non-null  float64
 22  CARGA GRÁTIS (KG)                  37906 non-null  float64
 23  CORREIO (KG)                       37906 non-null  float64
 24  ASK                                33008 non-null  float64
 25  RPK                                33021 non-null  float64
 26  ATK                                33008 non-null  float64
 27  RTK                                33008 non-null  float64
 28  COMBUSTÍVEL (LITROS)               27757 non-null  float64
 29  DISTÂNCIA VOADA (KM)               33008 non-null  float64
 30  DECOLAGENS                         33031 non-null  float64
 31  CARGA PAGA KM                      33021 non-null  float64
 32  CARGA GRATIS KM                    33008 non-null  float64
 33  CORREIO KM                         33021 non-null  float64
 34  ASSENTOS                           33031 non-null  float64
 35  PAYLOAD                            33031 non-null  float64
 36  HORAS VOADAS                       33030 non-null  object
 37  BAGAGEM (KG)                       29892 non-null  float64
dtypes: float64(18), int64(2), object(18)
memory usage: 11.0+ MB

In [4]:
df.head()

,EMPRESA (SIGLA),EMPRESA (NOME),EMPRESA (NACIONALIDADE),ANO,MÊS,AEROPORTO DE ORIGEM (SIGLA),AEROPORTO DE ORIGEM (NOME),AEROPORTO DE ORIGEM (UF),AEROPORTO DE ORIGEM (REGIÃO),AEROPORTO DE ORIGEM (PAÍS),...,COMBUSTÍVEL (LITROS),DISTÂNCIA VOADA (KM),DECOLAGENS,CARGA PAGA KM,CARGA GRATIS KM,CORREIO KM,ASSENTOS,PAYLOAD,HORAS VOADAS,BAGAGEM (KG)
0,AAF,AIGLE AZUR,ESTRANGEIRA,2019,1,LFPO,ORLY (NEAR PARIS),NaN,NaN,FRANÇA,...,NaN,149856.0,16.0,920725000.0,0.0,0.0,4592.0,770089.0,"144,86",NaN
1,AAF,AIGLE AZUR,ESTRANGEIRA,2019,1,SBKP,CAMPINAS,SP,SUDESTE,BRASIL,...,NaN,149856.0,16.0,263700000.0,25232000.0,0.0,4592.0,770089.0,"227,34",NaN
2,AAF,AIGLE AZUR,ESTRANGEIRA,2019,2,LFPO,ORLY (NEAR PARIS),NaN,NaN,FRANÇA,...,NaN,149856.0,16.0,617173000.0,0.0,0.0,4592.0,770089.0,"107,35",NaN
3,AAF,AIGLE AZUR,ESTRANGEIRA,2019,2,SBKP,CAMPINAS,SP,SUDESTE,BRASIL,...,NaN,149856.0,16.0,0.0,0.0,0.0,4592.0,770089.0,"267,29",NaN
4,AAF,AIGLE AZUR,ESTRANGEIRA,2019,3,LFPO,ORLY (NEAR PARIS),NaN,NaN,FRANÇA,...,NaN,159222.0,17.0,933032000.0,0.0,0.0,4879.0,1252270.0,"134,73",NaN

In [5]:
df.columns = ['EMPRESA_SIGLA','EMPRESA_NOME','EMPRESA_NACIONALIDADE','ANO','MES','AEROPORTO_DE_ORIGEM_SIGLA','AEROPORTO_DE_ORIGEM_NOME','AEROPORTO_DE_ORIGEM_UF','AEROPORTO_DE_ORIGEM_REGIAO','AEROPORTO_DE_ORIGEM_PAIS','AEROPORTO_DE_ORIGEM_CONTINENTE','AEROPORTO_DE_DESTINO_SIGLA','AEROPORTO_DE_DESTINO_NOME','AEROPORTO_DE_DESTINO_UF','AEROPORTO_DE_DESTINO_REGIAO','AEROPORTO_DE_DESTINO_PAIS','AEROPORTO_DE_DESTINO_CONTINENTE','NATUREZA','GRUPO_DE_VOO','PASSAGEIROS_PAGOS','PASSAGEIROS_GRATIS','CARGA_PAGA_KG','CARGA_GRATIS_KG','CORREIO_KG','ASK','RPK','ATK','RTK','COMBUSTIVEL_LITROS','DISTANCIA_VOADA_KM','DECOLAGENS','CARGA_PAGA_KM','CARGA_GRATIS_KM','CORREIO_KM','ASSENTOS','PAYLOAD','HORAS_VOADAS','BAGAGEM_KG']
df['HORAS_VOADAS'] = df['HORAS_VOADAS'].str.replace(',', '.').astype(float)

In [6]:
df = df[~(df[['EMPRESA_SIGLA','AEROPORTO_DE_ORIGEM_SIGLA','AEROPORTO_DE_DESTINO_SIGLA']].duplicated(keep=False)) & (df['AEROPORTO_DE_ORIGEM_SIGLA'] != df['AEROPORTO_DE_DESTINO_SIGLA'])]

In [7]:
columns = ['EMPRESA_SIGLA','EMPRESA_NOME','AEROPORTO_DE_ORIGEM_SIGLA','AEROPORTO_DE_ORIGEM_NOME','AEROPORTO_DE_ORIGEM_UF','AEROPORTO_DE_DESTINO_SIGLA','AEROPORTO_DE_DESTINO_NOME','AEROPORTO_DE_DESTINO_UF','DECOLAGENS','HORAS_VOADAS']
df = df[columns].dropna()

AZUL = AZU <br>
LATAM = TAM

In [8]:
airline_initials = 'AZU'
df_routes_by_airline = df[(df['EMPRESA_SIGLA'] == airline_initials)]

In [9]:
nodes = set()
for i in df_routes_by_airline['AEROPORTO_DE_ORIGEM_SIGLA'].values:
    nodes.add(i)
for i in df_routes_by_airline['AEROPORTO_DE_DESTINO_SIGLA'].values:
    nodes.add(i)

nodes = sorted(nodes)

In [10]:
adjacency_list = {}

for n in nodes:
    adjacency_list[n] = []
    for d in df_routes_by_airline[df_routes_by_airline['AEROPORTO_DE_ORIGEM_SIGLA'] == n].values:
        adjacency_list[n].append(d[5])
    
    if not len(adjacency_list[n]):
        adjacency_list.pop(n)

In [11]:
adjacency_list

{'SBAE': ['SBSR', 'SBVT', 'SBRP'],
 'SBAQ': ['SBKP'],
 'SBAR': ['SBFN', 'SBFZ', 'SBMO', 'SBRJ', 'SBGR'],
 'SBAT': ['SBVH'],
 'SBAU': ['SBCF', 'SBRP', 'SBBH'],
 'SBBE': ['SBSG', 'SBBR'],
 'SBBH': ['SBSV', 'SBCT', 'SBCY', 'SBLO', 'SBVT'],
 'SBBR': ['SBMK', 'SBSV', 'SBJP', 'SBSR', 'SBSP', 'SBPJ', 'SBMO'],
 'SBBV': ['SBCF', 'SBGR', 'SBSN', 'SBBE'],
 'SBBW': ['SBRF', 'SBKP'],
 'SBCA': ['SBNF', 'SBSV', 'SBLO', 'SBGO', 'SBAE', 'SBCY', 'SBCF', 'SBPA'],
 'SBCB': ['SBGL', 'SBGR'],
 'SBCF': ['SBBV',
  'SBCP',
  'SBHT',
  'SBAE',
  'SNPD',
  'SBJU',
  'SBJV',
  'SBCH',
  'SBMG',
  'SBTC'],
 'SBCG': ['SBBE', 'SBGR', 'SBLO', 'SBEG', 'SBDB'],
 'SBCH': ['SBRJ', 'SBGO', 'SBJA', 'SBPF', 'SBPO', 'SBCF', 'SBNF', 'SBGL'],
 'SBCP': ['SBKP'],
 'SBCR': ['SBVH'],
 'SBCT': ['SBNM', 'SBJV'],
 'SBCX': ['SBRP'],
 'SBCY': ['SBMO', 'SBDN', 'SBUL'],
 'SBDB': ['SBCF'],
 'SBDN': ['SBCY', 'SBCA', 'SBLO', 'SBRP', 'SBAE'],
 'SBDO': ['SBLO'],
 'SBEG': ['SBBR', 'SBFZ', 'SBBH', 'SBGO'],
 'SBFI': ['SBMG'],
 'SBFL': ['SBBH', 'SBNF', 'SBPK', 'SBPS'],
 'SBFN': ['SBMO'],
 'SBFZ': ['SBMO', 'SBSG', 'SBKG', 'SBRP', 'SBBR', 'SBPL', 'SBGL', 'SBMS'],
 'SBGL': ['SBCH', 'SBTC'],
 'SBGO': ['SBMK', 'SBAE', 'SBJP', 'SBSP', 'SBVT', 'SBVH', 'SBSR'],
 'SBGP': ['SBCF', 'SBSP'],
 'SBGR': ['SBJV', 'SBSR', 'SBCB'],
 'SBGU': ['SBKP'],
 'SBHT': ['SBCF', 'SBMQ', 'SBMA'],
 'SBIL': ['SBRP', 'SBSG'],
 'SBIP': ['SBBH'],
 'SBIZ': ['SBCF'],
 'SBJA': ['SBFL', 'SBCT'],
 'SBJE': ['SBBR'],
 'SBJI': ['SBKP'],
 'SBJP': ['SBSG'],
 'SBJU': ['SBCF', 'SBPL'],
 'SBJV': ['SBGL', 'SBMG', 'SBCG'],
 'SBKP': ['SBFN', 'SBGV', 'SSZW', 'SBAQ', 'SBGU', 'SBIP'],
 'SBLO': ['SBAE', 'SBDO', 'SBFI', 'SBMG', 'SBRP'],
 'SBMA': ['SBKP', 'SBMQ'],
 'SBME': ['SBCP'],
 'SBMG': ['SBCF', 'SBRF', 'SBPA', 'SBML', 'SBDB', 'SBBH', 'SBAU'],
 'SBML': ['SBRJ', 'SBBH'],
 'SBMO': ['SBCY', 'SBFZ', 'SBJP', 'SBTE', 'SBVT'],
 'SBMS': ['SBJP'],
 'SBNF': ['SBCT', 'SBSJ', 'SBVT', 'SBCF', 'SBCH', 'SBCG'],
 'SBPA': ['SBDO', 'SBSJ', 'SBSR', 'SBJA', 'SBMG', 'SBAE', 'SBCA', 'SBSV'],
 'SBPF': ['SBCT', 'SBNF', 'SBSR'],
 'SBPG': ['SBAE'],
 'SBPJ': ['SBBR'],
 'SBPK': ['SBSM'],
 'SBPL': ['SBGL', 'SBFZ', 'SBGR'],
 'SBPV': ['SBBV', 'SBGL', 'SWSI', 'SBGR'],
 'SBQV': ['SBRF', 'SBRP'],
 'SBRF': ['SBBV', 'SBMK', 'SBQV', 'SBSR', 'SBSN', 'SBPV', 'SBIL'],
 'SBRJ': ['SBJV', 'SBSR', 'SBLO', 'SBAR', 'SBAE'],
 'SBRP': ['SBSV', 'SBVT', 'SBCH', 'SBSJ', 'SBBH', 'SBSR'],
 'SBSG': ['SBMO', 'SBKG'],
 'SBSJ': ['SBPA', 'SBGR'],
 'SBSL': ['SBMO', 'SBGL'],
 'SBSM': ['SBPK'],
 'SBSO': ['SBGL'],
 'SBSP': ['SBJV', 'SBLO', 'SBFI', 'SBSJ'],
 'SBSR': ['SBAE', 'SBBH', 'SBRD', 'SBBR', 'SBUL'],
 'SBSV': ['SBFL', 'SBBR', 'SBCG', 'SBJP', 'SBPA', 'SBTC'],
 'SBTC': ['SBKP', 'SBRF', 'SBSV'],
 'SBTD': ['SBKP'],
 'SBTE': ['SBMO', 'SBRP'],
 'SBTT': ['SBKP', 'SBTF'],
 'SBUG': ['SBPK'],
 'SBUL': ['SBBH', 'SBUR', 'SBCY', 'SBGL'],
 'SBUR': ['SBUL'],
 'SBVH': ['SBCG'],
 'SBVT': ['SBRP', 'SBAE'],
 'SBZM': ['SBAE', 'SBRP', 'SBGL'],
 'SNAT': ['SBFZ'],
 'SNBR': ['SBSV'],
 'SNPD': ['SBCF'],
 'SNTF': ['SBIP'],
 'SSKW': ['SBCG'],
 'SSZW': ['SBKP'],
 'SWLC': ['SBRP', 'SBSR']}